@media only screen and (max-width: 500px) {
	.cards-wrapper .cards-container .card {
		height: fit-content;
		padding-bottom: 30px;
		width: 100%;
	}
	.cards-wrapper .cards-article p {
		margin-bottom: 18px;
		text-align: center;
	}
	.card .card-info-container .card-info p:nth-child(1) {
		font-size: 1em;
		line-height: 1.25rem;
	}
	.card .card-info-container .card-info p:nth-child(2) {
		font-size: 0.875em;
		margin-bottom: 6px;
	}
	.cards-wrapper .cards-container .card .card-info-container .card-info button {
		font-size: 14px;
	}
}
@media only screen and (max-width: 850px) {
	.cards {
		background-image: none;
	}
	.cards-wrapper {
		background-image: none;
	}
	.cards-wrapper .cards-container {
		display: flex;
		flex-direction: column;
	}
	.cards-wrapper .cards-container .card button {
		font-size: 1em;
	}
	.cards-wrapper .view {
		font-size: 0.9375em;
		height: 50px;
		width: 156px;
	}
	.cards-wrapper .cards-article {
		margin-bottom: 40px;
	}
	.cards-article p {
		font-size: 1.875em;
	}
	.cards-wrapper .view {
		font-size: 0.875em;
	}
}
@media only screen and (max-width: 1250px) {
	.cards-container {
		display: grid;
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(2, 1fr);
		place-items: center;
		row-gap: 30px;
	}
	.cards-container .card {
		margin: 10px;
	}
}
