@media only screen and (max-width: 500px) {
	.cards-wrapper .cards-container .card {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		padding-bottom: 30px;
		width: 100%;
	}
	.cards .cards-wrapper .cards-container .card:hover {
		box-shadow: var(--service-card-box-shadow);
	}
	.cards-wrapper .cards-article p {
		margin-bottom: 18px;
		text-align: center;
	}
	.card .card-info-container .card-info p:nth-child(1) {
		font-size: 1em;
		line-height: 1.25rem;
	}
	.card .card-info-container .card-info p:nth-child(2) {
		font-size: 0.875em;
		margin-bottom: 6px;
	}
	.cards-wrapper .cards-container .card .card-info-container .card-info button {
		font-size: 14px;
	}
}
@media only screen and (max-width: 850px) {
	.cards {
		background-image: none;
	}
	.cards-wrapper {
		background-image: none;
	}
	.cards-wrapper .cards-container {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.cards-wrapper .cards-container .card button {
		font-size: 1em;
	}
	.cards-wrapper .view-button {
		font-size: 0.9375em;
		padding: 0.8em 2.2em;
	}
	.cards-wrapper .cards-article {
		margin-bottom: 40px;
	}
	.cards-article p {
		font-size: 1.875em;
	}
	.cards-wrapper .view {
		font-size: 0.875em;
	}
}
@media only screen and (max-width: 1250px) {
	.cards-container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (350px) [2];
		-ms-grid-rows: 1fr 30px 1fr;
		grid-template-columns: repeat(2, 350px);
		grid-template-rows: repeat(2, 1fr);
		place-items: center;
		row-gap: 30px;
	}
	.cards-container > *:nth-child(1) {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
	}
	.cards-container > *:nth-child(2) {
		-ms-grid-column: 2;
		-ms-grid-row: 1;
	}
	.cards-container > *:nth-child(3) {
		-ms-grid-column: 1;
		-ms-grid-row: 3;
	}
	.cards-container > *:nth-child(4) {
		-ms-grid-column: 2;
		-ms-grid-row: 3;
	}
	.cards-container .card {
		margin: 10px;
	}
}
