@media only screen and (max-width: 860px) {
	.carousel-wrapper {
		background: var(--linear-gradient);
		width: 100%;
	}
	.carousel {
		border-radius: 0px;
	}
	.carousel-container {
		margin-top: 150px;
	}
	.slide-container .slide {
		background-image: none;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding-top: 50px;
	}
	.slide-container .slide .slide-header {
		margin-bottom: 10px;
	}
	.slide .slide-info {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 80%;
	}
	.slide .slide-info .slide-image img {
		height: 5em;
		margin-right: 10px;
		width: 5em;
	}
	.slide-container .slide .slide-header p:nth-child(1) {
		font-size: 1.25em;
		line-height: 1.56rem;
		margin-bottom: 20px;
		text-align: center;
	}
	.slide-container .slide .slide-header .line {
		margin-bottom: 0px;
	}
	.slide-image {
		margin-bottom: 15px;
	}
	.slide-image .profile .job {
		font-size: 0.875em;
	}
	.slide-image .profile .name {
		font-size: 1em;
		line-height: 1.87rem;
	}
	.slide .slide-article {
		font-size: 0.87em;
		line-height: 1.56rem;
		text-align: center;
		width: 90%;
	}
	.dots-arrows {
		margin-bottom: 10px;
	}
	.dots-arrows .dots-container {
		display: none;
	}
	.dots-arrows .arrow-right,
	.dots-arrows .arrow-left {
		height: 22px;
		margin-left: 10px;
	}
	.dots-arrows .arrow-right path,
	.dots-arrows .arrow-left path {
		fill: var(--text-color);
	}
}

@media only screen and (max-width: 1172px) {
	.slide .slide-header p:nth-child(1) {
		font-size: 1.5em;
	}
	.slide-info {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding: 0;
		width: 100%;
	}
	.slide-info .slide-image img {
		height: 6em;
		width: 6em;
	}
	.profile .name {
		font-size: 1.125em;
		line-height: 2.18rem;
	}
	.profile .job {
		font-size: 1em;
	}
	.slide-article {
		font-size: 0.87em;
	}
}
