@media only screen and (max-width: 800px) {
	.banner-wrapper {
		margin-bottom: 100px;
	}
	.banner .health-info .health-heading {
		font-size: 1.5em;
		line-height: 1.87rem;
	}
	.banner .health-info .health-article {
		font-size: 1em;
		margin-bottom: 30px;
	}

	.banner .health-info {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 100%;
	}
	.banner .health-image {
		display: none;
	}
}
@media only screen and (max-width: 1172px) {
	.navigation nav {
		background-color: var(--primary-color);
		display: flex;
		flex-direction: column;
		height: calc(100vh - 5em);
		justify-content: center;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 80px;
		transition: all 0.4s ease-in-out;
		width: 0;
		opacity: 0;
	}
	.navigation nav a {
		color: var(--text-color);
		display: block;
		margin: 0;
		opacity: 1;
		padding: 15px;
	}
	.navigation .hamburger-button {
		display: block;
	}
	.navigation .hamburger-button .line {
		background: var(--primary-color);
		border-radius: 5px;
		height: 5px;
		margin: 4px;
		transition: all 0.4s ease-in-out;
		width: 40px;
	}
	.hamburger-button.active .line:nth-child(2) {
		opacity: 0;
	}

	.hamburger-button.active .line:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}

	.hamburger-button.active .line:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}

	.navigation nav.active {
		width: 100%;
		opacity: 1;
	}
	.health-info .health-heading {
		line-height: 2rem;
		margin-bottom: 10px;
	}
	.health-info .health-article {
		font-size: 1em;
		margin-bottom: 10px;
	}
	.health-info button {
		font-size: 0.93em;
		padding: 0.8em 2.2em;
	}

	.banner-wrapper {
		background-image: none;
	}
}
@media only screen and (max-width: 1500px) {
	header .navigation img {
		width: 8.2em;
	}
	.navigation nav a {
		font-size: 1em;
	}
	.health-info .health-heading {
		font-size: 2.2em;
		margin-bottom: 10px;
	}
	.health-info .health-article {
		font-size: 1.06em;
	}
}