.cards {
	background-image: url('../images/element\ \(2\).png');
	background-position: right;
	background-repeat: no-repeat;
	margin-top: 216px;
	width: 100%;
}

.cards-wrapper {
	align-items: center;
	background-image: url('../images/element\ \(1\).png');
	background-position: 3% 20%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 40px;
}
.cards-article {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 79px;
	opacity: 0;
	transform: translateX(100px);
	transition: all 1s ease-in-out;
}
.cards-article.visible {
	opacity: 1;
	transform: translateX(0px);
}

.cards-article p {
	color: var(--black-color);
	font-family: Mulish;
	font-size: 2.25em;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 26px;
}

.cards-container {
	display: flex;
	justify-content: space-evenly;
	opacity: 0;
	transform: translateY(120px);
	transition: all 1.2s ease-in-out;
	width: 100%;
}
.cards-container.visible {
	opacity: 1;
	transform: translateY(0px);
}

.card {
	background: var(--text-color);
	border-radius: 20px;
	box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	display: flex;
	flex-direction: column;
	margin: 5px;
	overflow: hidden;
	padding-bottom: 20px;
	transition: all 0.3s ease-in-out;
	width: 350px;
}
.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card .img {
	margin-bottom: 24px;
	width: 100%;
}
.card .img img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.card .card-info-container {
	display: flex;
	height: 50%;
	justify-content: center;
	width: 100%;
}
.card-info-container .card-info {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 80%;
}
.card .card-info-container .card-info p:first-child {
	color: var(--black-color);
	font-family: Mulish;
	font-size: 21px;
	font-style: normal;
	font-weight: bold;
	line-height: 2rem;
	margin-bottom: 12px;
}
.card .card-info-container .card-info p:nth-child(2) {
	color: var(--article-color);
	font-family: Mulish;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.75rem;
	margin-bottom: 25px;
}

.card .card-info-container .card-info button {
	background: none;
	border: none;
	color: var(--read-button-color);
	cursor: pointer;
	font-family: Mulish;
	font-size: 1.0625em;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75rem;
	outline: none;
}
.card .card-info-container .card-info button img {
	margin-left: 8px;
	transition: all 0.4s ease-in-out;
}

.card .card-info-container .card-info button:hover img {
	animation: x-scroll 0.3s linear forwards;
}
@keyframes x-scroll {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(8px);
	}
}
.cards-wrapper .view {
	background-color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 55px;
	color: var(--primary-color);
	cursor: pointer;
	cursor: pointer;
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	height: 60px;
	margin-top: 69px;
	outline: none;
	transition: all 0.3s ease-in-out;
	width: 200px;
}
.cards-wrapper .view:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}
