:root {
	--box-shadow: #00000070;
	--link-color: #1f1534;
	--link-hover-color: black;
	--article-color: #7d7987;
	--primary-color: #458ff6;
	--text-color: #fff;
	--dot-color: #5b9bf3;
	--black-color: #000000;
	--linear-gradient: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
	--read-button-color: #4089ed;
	--service-card-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
	--service-card-hover-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	--drop-shadow-right: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	--drop-shadow-left: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
	--active-button-background-color: #a0c4ff;
	--focus-button-background-color: #132f55;
}
