:root {
	--box-shadow: #00000070;
	--link-color: #1f1534;
	--link-hover-color: black;
	--article-color: #7d7987;
	--primary-color: #458ff6;
	--text-color: #ffffff;
	--black-color: #000000;
	--linear-gradient: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);;
}
