footer {
	background-image: url('../images/element\ \(4\).png');
	background-position: 90% 15%;
	background-repeat: no-repeat;
	box-sizing: border-box;
	width: 100%;
}

.footer-container {
	background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
	margin-top: 129px;
	width: 100%;
}
.footer {
	align-items: center;
	background-image: url('../images/element\ \(3\).png');
	background-position: bottom left;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	width: 100%;
}

.footer-wrapper {
	padding-bottom: 100px;
	padding-top: 80px;
	width: 80%;
}

.footer-wrapper ul {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	opacity: 0;
	transform: translateX(100px);
	transition: all 1s ease-in-out;
}
.footer-wrapper ul.visible {
	opacity: 1;
	transform: translateX(0px);
}

.footer-wrapper ul li {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

ul li:nth-child(1) .footer-logo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 22px;
}
ul li:nth-child(1) .footer-logo .circle {
	align-items: center;
	background: var(--text-color);
	border-radius: 50%;
	color: var(--dot-color);
	display: flex;
	font-family: Mulish;
	font-size: 1.625em;
	font-style: normal;
	font-weight: bold;
	height: 41px;
	justify-content: center;
	line-height: 2.0625rem;
	margin-right: 12.15px;
	width: 41px;
}
ul li:nth-child(1) .footer-logo p {
	color: var(--text-color);
	font-family: Mulish;
	font-size: 1.25em;
	font-style: normal;
	font-weight: bold;
	line-height: 1.875rem;
}

ul li:nth-child(1) .about {
	color: var(--text-color);
	font-family: Mulish;
	font-size: 1.125em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.75rem;
	margin-bottom: 31px;
}

ul li:nth-child(1) .rights {
	color: var(--text-color);
	font-family: Mulish;
	font-size: 1em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.75rem;
}

ul li .heading {
	color: var(--text-color);
	font-family: Mulish;
	font-size: 1.25em;
	font-style: normal;
	font-weight: bold;
	line-height: 3.75rem;
}

ul li a {
	color: var(--text-color);
	font-family: Mulish;
	font-size: 1.125em;
	font-style: normal;
	font-weight: 300;
	line-height: 2.375rem;
	opacity: 0.8;
}
ul li a:hover {
	text-decoration: underline;
}
