footer {
  width: 100%;
  box-sizing: border-box;
  background-image: url("../images/element\ \(4\).png");
  background-repeat: no-repeat;
  background-position: 90% 15%;
}

.footer-container {
  width: 100%;
  margin-top: 129px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../images/element\ \(3\).png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.footer-wrapper {
  width: 80%;
  padding-bottom: 100px;
}
.footer-wrapper ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
.footer-wrapper ul li {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  
}

ul li:nth-child(1) .traf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}
ul li:nth-child(1) .traf .circle {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12.15px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #5b9bf3;
}
ul li:nth-child(1) .traf p {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

ul li:nth-child(1) .about {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 31px;
}

ul li:nth-child(1) .rights {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

ul li .h {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #ffffff;
}

ul li a {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  opacity: 0.8;
  color: #ffffff;
}
ul li a:hover{
  text-decoration: underline;
}
@media only screen and (max-width:670px){
  .footer-container .footer .footer-wrapper{
    padding: 0;
    height: fit-content;
  }
  .footer-container .footer .footer-wrapper ul{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    place-items: center;

  }
   .footer-container .footer .footer-wrapper ul li .about{
     text-align: center;
   }
   .footer-container .footer .footer-wrapper ul li .rights{
     text-align: center;
   }
   .footer-container .footer .footer-wrapper ul li {
     width: fit-content; 
   }
}
@media only screen and (max-width:750px){
  .footer .footer-wrapper ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
  }
  .footer .footer-wrapper ul li .traf{
    margin-bottom: 10px;
  }
  .footer .footer-wrapper ul li{
    align-items:center;
  }
}
@media only screen and (max-width: 1100px){
  footer{
    background-image: none;
  }
  .footer-wrapper{
    width: 85%;
  }
  .footer{
    background-image: none;
  }
  .footer .footer-wrapper ul li:nth-child(1) .about{
   font-size: 14px;
 }
 .footer .footer-wrapper ul li:nth-child(1) .rights{
   font-size: 14px;
 }
 .footer .footer-wrapper ul li a{
   font-size: 14px;
 }
 .footer .footer-wrapper ul li .h{
   font-size: 18px;
 }
  

}
@media only screen and (max-width:1400px){
  .footer-wrapper ul {
    justify-content: space-between;
  }
 .footer-wrapper ul li:nth-child(1) .about{
   font-size: 16px;
 }
 .footer-wrapper ul li:nth-child(1) .rights{
   font-size: 16px;
 }
 .footer-wrapper ul li a{
   font-size: 16px;
 }
}