:root {
  --box-shadow: #00000070;
  --link-color: #1f1534;
  --link-hover-color: black;
  --quote: #7d7987;
  --button-background: #458ff6;
  --text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html,
body {
  width: 100%;
}

.container {
  width: 100%;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: all 0.5s ease-in-out;
}
.nav.active {
  box-shadow: 0 0 10px -5px var(--box-shadow);
  background-color: var(--text-color);
}
.navigation {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.links {
  display: flex;
  align-items: center;
}

.links a {
  color: var(--link-color);
  font-family: "Mulish", sans-serif;
  margin: 17px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.links a:not(:nth-child(1)) {
  opacity: 0.5;
}
.links a:first-child {
  font-weight: 700;
}
.links a:hover {
  color: var(--link-hover-color);
  opacity: 1;
}
.banner-wrapper {
  width: 100%;
  background-image: url("./images/element.png");
  background-repeat: no-repeat;
  margin-top: 144px;
  margin-bottom: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.banner .health-image img {
  margin: 0px;
}

.health-info .health-heading {
  font-size: 48px;
  line-height: 56px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
.health-info .health-quote {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  margin-bottom: 45px;
  color: var(--quote);
  font-size: 21px;
  line-height: 32px;
  width: 80%;
}

.health-info button {
  width: 200px;
  height: 56px;
  background-color: var(--button-background);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  border-radius: 55px;
  border: 1px solid var(--button-background);
  cursor: pointer;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.health-info button:hover {
  color: var(--button-background);
  background-color: var(--text-color);
}
.navigation .hamburger-button {
  display: none;
}
.navigation .hamburger-button svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  cursor: pointer;
}
.hamburger-button svg path {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
#top,
#bottom {
  stroke-dasharray: 30, 75.39;
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}
svg.active #top,
svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
}
@media only screen and (max-width: 800px) {
  .banner {
    width: 100%;
  }
  .banner-wrapper {
    margin-bottom: 100px;
  }
  .banner .health-info .health-heading {
    font-size: 22px;
    line-height: 30px;
  }
  .banner .health-info .health-quote {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .banner .health-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner .health-image {
    display: none;
  }
}

@media only screen and (max-width: 1172px) {
  .navigation .links {
    position: absolute;
    height: 100vh;
    display: flex;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    top: 60px;
    width: 0;
    background-color: #f8f9fa;
    transition: all 0.4s ease-in-out;
  }
  .navigation .links a {
    display: block;
  }
  .navigation .hamburger-button {
    display: block;
    font-size: 22px;
  }

  .navigation .links.active {
    width: 100%;
  }
  .health-info .health-heading {
    margin-bottom: 10px;
    line-height: 30px;
  }
  .health-info .health-quote {
    margin-bottom: 10px;
  }
  .health-info button {
    width: 150px;
    height: 36px;
    font-size: 16px;
  }
  .banner-wrapper .banner .health-image img {
    width: 370px;
  }
  .banner-wrapper {
    background-image: none;
  }
}
@media only screen and (max-width: 1400px) {
  .nav .navigation img {
    width: 130px;
  }
  .navigation .links a {
    font-size: 16px;
  }
  .banner .health-image img {
    width: 380px;
  }
  .health-info .health-heading {
    font-size: 30px;
  }
  .health-info .health-quote {
    font-size: 16px;
  }
}
