* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html,
body {
	width: 100%;
	overflow-x: hidden;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.container-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1600px;
}

header {
	align-items: center;
	display: flex;
	height: 5em;
	justify-content: center;
	transition: all 0.6s ease-in-out;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 9999;
}
header.active {
	background-color: var(--text-color);
	box-shadow: 0 0 10px -5px var(--box-shadow);
	transition: all 0.5s ease-in-out;
}

.navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
}
nav {
	align-items: center;
	display: flex;
}

nav a {
	color: var(--link-color);
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 400;
	margin: 17px;
	transition: all 0.3s ease-in-out;
}
nav a:not(:nth-child(1)) {
	opacity: 0.5;
}
nav a:first-child {
	font-weight: 700;
}
nav a:hover {
	color: var(--link-hover-color);
	opacity: 1;
}
.banner-wrapper {
	align-items: center;
	background-image: url('../images/element.png');
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	margin-bottom: 190px;
	margin-top: 144px;
	width: 100%;
}
.banner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
}
.banner .health-image {
	width: 48%;
}
.banner .health-image img {
	height: 100%;
	margin: 0px;
	width: 100%;
}
.health-info {
	width: 43%;
	opacity: 0;
	transform: translateX(-100px);
	transition: all 1s ease-in-out;
}
.health-info.visible {
	opacity: 1;
	transform: translateX(0px);
}


.health-info .health-heading {
	font-family: 'Mulish', sans-serif;
	font-size: 3em;
	font-weight: 700;
	line-height: 3.5rem;
	margin-bottom: 30px;
}
.health-info .health-article {
	color: var(--article-color);
	font-family: 'Mulish', sans-serif;
	font-size: 1.31em;
	font-weight: 300;
	line-height: 2rem;
	margin-bottom: 45px;
}

.health-info button {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 55px;
	color: var(--text-color);
	cursor: pointer;
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	outline: none;
	padding: 0.97em 2.19em;
	transition: all 0.3s ease-in-out;
}
.health-info button:hover {
	background-color: var(--text-color);
	color: var(--primary-color);
}
.navigation .hamburger-button {
	display: none;
}
.navigation img {
	padding: 3px;
}
.health-image{
	opacity: 0;
	transform: translateX(100px);
	transition: all 1.2s ease-in-out;
}
.health-image.visible {
	opacity: 1;
	transform: translateX(0px);
}