main {
	margin-top: 220px;
	width: 100%;
}

main section:first-child {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 40px;
}
.section-one {
	align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	-ms-flex-direction: column;
	flex-direction: column;
	opacity: 0;
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 40%;
}
.section-one.visible {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

section:nth-child(1) img {
	opacity: 0;
	-webkit-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform: translateX(-100px);
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 50%;
}
section:nth-child(1) img.visible {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.section-one p:first-child {
	color: var(--black-color);
	font-family: Mulish;
	font-size: 2.25em;
	font-style: normal;
	font-weight: 700;
	line-height: 3.5rem;
	margin-bottom: 82px;
}
section:first-child .section-one .line {
	margin-bottom: 31px;
}
.section-one .section-one-article {
	color: var(--article-color);
	font-family: Mulish;
	font-size: 1.125em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.87em;
	margin-bottom: 37px;
	width: 80%;
}

.section-one button {
	background-color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 55px;
	color: var(--primary-color);
	cursor: pointer;
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	outline: none;
	padding: 1em 2.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.section-one button:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}
main section:nth-child(2) {
	background-image: url('../images/element\ \(1\).png');
	background-position: 103%;
	background-repeat: no-repeat;
	height: 20vh;
	margin-top: 20px;
	width: 100%;
}
main section:last-child {
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 40px;
}
section:last-child .section-three-image {
	opacity: 0;
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 50%;
}
section:last-child .section-three-image.visible {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.section-three {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	opacity: 0;
	-webkit-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform: translateX(-100px);
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 35%;
}
.section-three.visible {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.section-three p:first-child {
	color: var(--black-color);
	font-family: Mulish;
	font-size: 2.25em;
	font-style: normal;
	font-weight: bold;
	line-height: 3rem;
	margin-bottom: 30px;
}

.section-three .section-three-article {
	color: var(--article-color);
	font-family: Mulish;
	font-size: 1.125em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.87em;
	margin-bottom: 40px;
}

.section-three .section-three-button {
	align-items: center;
	background-color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 55px;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	color: var(--primary-color);
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	justify-content: center;
	outline: none;
	padding: 1em 2.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.section-three .line {
	background-color: var(--black-color);
	border-radius: 6px;
	margin-bottom: 31px;
	padding: 1px;
	width: 3.5em;
}
.section-three .section-three-button:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}
.section-three .section-three-button:hover svg path {
	fill: var(--text-color);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.section-three .section-three-button svg {
	margin-left: 14px;
}
