main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 220px;
	width: 100%;
}

main section:first-child {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.section-1 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 40%;
}
section:nth-child(1) img{
	width: 50%;
}

.section-1 p:first-child {
	color: var(--black-color);
	font-family: Mulish;
	font-size: 2.25em;
	font-style: normal;
	font-weight: 700;
	line-height: 3.5rem;
	margin-bottom: 82px;
}
section:first-child .section-1 .line {
	margin-bottom: 31px;
}
.section-1 .section-1-article {
	color: var(--article-color);
	font-family: Mulish;
	font-size: 1.125em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.87em;
	margin-bottom: 37px;
	width: 80%;
}

.section-1 button {
	background-color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 55px;
	color: var(--primary-color);
	cursor: pointer;
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	outline: none;
	padding: 1em 2.8em;
	transition: all 0.3s ease-in-out;
}

.section-1 button:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}
main section:nth-child(2) {
	background-image: url('../images/element\ \(1\).png');
	background-position: 103%;
	background-repeat: no-repeat;
	height: 20vh;
	margin-top: 20px;
	width: 100%;
}
main section:last-child {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
}
section:last-child img{
	width: 50%;
}
.section-2 {
	height: fit-content;
	width: 35%;
}

.section-2 p:first-child {
	color: var(--black-color);
	font-family: Mulish;
	font-size: 2.25em;
	font-style: normal;
	font-weight: bold;
	line-height: 3rem;
	margin-bottom: 30px;
}

.section-2 .section-2-article {
	color: var(--article-color);
	font-family: Mulish;
	font-size: 1.125em;
	font-style: normal;
	font-weight: 300;
	line-height: 1.87em;
	margin-bottom: 40px;
}

.section-2 .section-2-button {
	align-items: center;
	background-color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 55px;
	color: var(--primary-color);
	cursor: pointer;
	display: flex;
	font-family: 'Mulish', sans-serif;
	font-size: 1.125em;
	font-weight: 700;
	padding: 1em 2.8em;
	justify-content: center;
	outline: none;
	transition: all 0.3s ease-in-out;

}
.section-2 .line {
	background-color: var(--black-color);
	padding: 1px;
	margin-bottom: 31px;
	width: 3.5em;
	border-radius: 6px;
}
.section-2 .section-2-button:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}
.section-2 .section-2-button img {
	margin-left: 14px;
}